body {
  font-size: 16px;
  color: #000; /*black*/
  background-color: #f2eee2; /*beige*/
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f81884; /*magenta*/
  border-radius: 0;
  border: 0;
  min-height: 65px;
}


.navbar-brand {
  height: 80px;

}
.navbar-brand h1 { 
  font-family: 'Oxygen', sans-serif;
  color: #000;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: center;
  /*line-height: .75;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav {
  /*background-color: #eb6e80;*/
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}

#container-menulist {
  padding: 0;
  background-color: #43c0f6; /*blue*/
}

#nav-list {
  margin: 0;
}
#nav-list a {
  color: 000; /*text of the items*/
  text-align: center;
  margin 0;
}
#nav-list a:hover {
  background: #f5ce28; /*yellow*/
  
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  position: center;
}

/* END HEADER */




#home {
  /*margin: auto;*/
  border: 1px;
  border-color: 000;
  margin-bottom: 20px;
 }
  
  .col-xs-12, .col-md-12, .col-sm-12  {
    min-height: 1px;
    padding: 15px;
    width: 100%;
    background-color: #f5ce28; /*yellow*/
    margin: auto;
    position: center;
    height: 1000px;
  }
 }

